@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dream Team</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">I love Testing</a>.</p>
</div>
